<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style_standard_background.css') }}">
        <style>
            p {
                font-size: 22px;
            }
            h1 {
                font-size: 34px;
                padding: 80px;
            }
        </style>
    </head>
    <h1>What Makes Secret Messages Different?</h1><br>
    <p>Secret Messages will not show on the "Latest Message" board.<br><br>
	They also can't be searched by name.<br><br>
        You can only get secret messages using the code provided by the person who wrote the message.
    </p>
    <br><br><br><br>
    <a href="/message">Back</a>
</html>